In [20]:
#que 1:
r=lambda msg:msg

In [21]:
print(r("hello"))

hello

In [22]:
#que 2:
r=lambda s:s%2==0

In [25]:
s=r(9)
s1=r(2)
print(s)
print(s1)

False
True

In [1]:
l1=[4,7,8,1]
r=list(filter(lambda s:s%7==0,l1))
print(type(r))
print(r)

<class 'list'>
[7]

In [20]:
l2=[4,7,8,1]
print(list(map(lambda x:x+2,l2)))

[6, 9, 10, 3]

In [6]:
#Find all of the words in a string that are less than 4 letters
sentence =["a","ab","iopuy","iop"]

#examine = sentence.split()
result=list(filter(lambda word: len(word)<=4,sentence))
print(result)

['a', 'ab', 'iop']

In [21]:
l2=["asd","tyu","ert","hhg"]
print(list(map(lambda x:len(x),l2)))

[3, 3, 3, 3]

In [23]:
l2=["asd","tyu","ert","hhg"]
print(list(map(lambda x:x.upper(),l2)))

['ASD', 'TYU', 'ERT', 'HHG']

In [10]:
l2=[" b njk nkjh"]
r=list(filter(lambda s:s.count(" "),l2))
print(r)

[' b njk nkjh']

In [9]:
l2=["asd","Tyu","ert","Hhg"]
l2=print(list(filter(lambda x:x[0:1].isupper(),l2)))
#l2=print(list(map(lambda x:len(x),l2)))

['Tyu', 'Hhg']

In [1]:
from functools import reduce

l2=[3,3,8,1]
total=reduce(lambda x,y: x+y,list(map(lambda x: x**2,l2)))
print(total)

In [46]:
import operator as o

In [51]:
l2=["asd","Tyu","ert","Hhg"]
nlist=list(len(i) for i in l2)
print(nlist)

[3, 3, 3, 3]

In [59]:
nlist=list(i for i in range(0,51)if i%5==0 )
print(nlist)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

#lambda Expression

In [2]:
#normal function
def add(x,y):
    return x+y

In [3]:
add(5,6)

11

In [11]:
re=lambda x,y:x+y

In [15]:
print("Addition is:",re(5,6))
print("full name:",re("ravi","kumar"))
print("Tota is:",re(58.00,69.0))
print(type(re))

Addition is: 11
full name: ravikumar
Tota is: 127.0
<class 'function'>

In [35]:
def add(n):
    return lambda n1:n1+n
re=add(5)
print(re(4))

9

In [41]:
6^2
r=lambda x,y:x**y
print(r(6,2))

36

In [46]:
def findpow(b):
    return lambda e:b**e

In [48]:
ans=findpow(6)
print(ans(2))

36


List Comprehension Practice Program

In [33]:
#1.	Find all of the numbers from 1-1000 that are divisible by 7
l1 = [n for n in range(1,1000) if n % 7 == 0] 
print(l1)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [32]:
#2.	Find all of the numbers from 1-1000 that have a 3 in them
l1= [n for n in range(0,1000) if '3' in str(n)]
print(l1)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [31]:
#3.	Count the number of spaces in a string
s='hello how are you'
s1=[x for x in s if x == ' ']
print(len(s1))

3

In [6]:
#4.	Create a list of all the consonants in the string “Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams”
sentence = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
result = [letter for letter in sentence if letter not in 'a,e,i,o,u, " "']
print(result)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [8]:
#5.	Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)
items = ["hi", 4, 8.99, 'apple', ('t,b','n')]
result = [(index, item) for index, item in enumerate(items)]
print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [12]:
#6.	Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
result = [x for x in list_a if x in list_b]
print(result)

[2, 3, 4]

In [21]:
#7.	Get only the numbers in a sentence like ‘In 1984 there were 13 instances of a protest with over 1000 people attending’
s="In 1984 there were 13 instances of a protest with over 1000 people attending"
w = s.split()
l1=[number for number in w if not number.isalpha() ]
print(l1)

['1984', '13', '1000']

In [22]:
#8.	Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even, and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’
result = ['even' if n%2 == 0 else 'odd' for n in range(20)]
print(result)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [26]:
#9.	Produce a list of tuples consisting of only the matching numbers in these lists list_a = 1, 2, 3,4,5,6,7,8,9, list_b = 2, 7, 1, 12. Result would look like (4,4), (12,12)
list_a = [1, 2, 3,4,5,6,7,8,9]
list_b = [2, 7, 1, 12]
result=[(x,y) for x in list_a for y in list_b if x==y]
print(result)

[(1, 1), (2, 2), (7, 7)]

In [28]:
#10.	Find all of the words in a string that are less than 4 letters
s='I love python programming language'

x=s.split()

result = [word for word in x if len(word)>=4]
print(result)

['love', 'python', 'programming', 'language']

In [29]:
#11.	Use a nested list comprehension to find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9)
result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]